.modal-song{
  width: 1000px !important; 
}
.custom-modal-admin{
  .ant-modal-header {
    text-align: center;
    .ant-modal-title{
      font-size: 23px;
    }
  }
  h1{
    text-align: center;
  }
 .action-sb{
   text-align: center;
   .admin-form-button{
    width: 150px;
    height: 40px;
    font-size: 16px;
   }
 }
}
.ant-input-affix-wrapper {
  padding-right: 0px !important;
}
