@import "../_variables.less";

.header {
  .container {
    margin: 0 24px;
  }
  .logo {
    font-family: @fontPoppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: @bgBlue;
    align-items: center;
    display: flex;
    height: 100%;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    // line-height: 30px;
    text-transform: uppercase;

    color: #4900ff;
    padding: 19px 0;
    &:hover {
      cursor: pointer;
    }
  }
  .navBar {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    .ant-input-search {
      width: 330px;
      background: #f7f7f7;
      border: 0.5px solid #e0e0e0;
      box-sizing: border-box;
      border-radius: 10px;
      height: auto;
      padding: 7px 12px;
      position: relative;
      input {
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        font-family: @fontPoppins;
        letter-spacing: 0.1px;
        padding-left: 26px;
        color: #242424;

        mix-blend-mode: normal;
        &::placeholder {
          opacity: 0.5;
        }
      }
      .ant-input-suffix {
        font-size: 18px;
        position: absolute;
        left: 10px;
        .ant-input-search-icon {
        }
      }
    }
  }
  .navMainRight {
    text-align: right;
    height: 100%;
    align-items: center;
    display: inline-flex;
    width: 100%;
    .actions {
      text-align: right;
      width: 100%;
      .ant-dropdown-link {
        font-family: @fontPoppins;
        margin-left: 45px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        letter-spacing: 0.1px;

        color: #242424;
        .anticon {
          font-size: 12px;
          margin-left: 7px;
        }
      }
      .ant-badge {
        margin-left: 15px;
        color: #44444f;
        a {
          color: #44444f;
        }
        .ant-badge-count {
          min-width: 9px;
          // width: 9px;
          padding: 1px 4px;
          height: 12px;

          font-style: normal;
          font-family: @fontPoppins;
          font-weight: 500;
          font-size: 7px;
          line-height: 10px;
          /* identical to box height */

          text-align: right;
          letter-spacing: 0.05px;

          color: #ffffff;
        }
      }
      .btn-setting{
        .anticon{
          color: #44444F;
        }
      }
    }
  }
}
