@import "./_header-main.less";
@import "./_sider-main.less";
@import "./_plans.less";

.dashboard {
  .site-layout-sub-header-background {
    background: #fff;
  }

  .site-layout-background {
    background: #fff;
  }

  .ant-layout {
    // height: calc(100vh - 63px);
    min-height: calc(100vh - 63px);
    background: @bgFA;
    .main-ctn {
      height: 100%;
      .ant-layout-content {
        display: grid;
      }
    }
    .content {
      height: 100%;
      margin: 24px !important;
      .main-dashboard {
        height: 100%;
        background: @bgFA;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        padding: 30px;
        min-height: calc(100vh - 48px - 63px);
        .form-upload {
          .ant-input {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.107143px;
            height: auto;
            padding: 10px 15px;
            color: #242424;
            // background: none;
            border-radius: 7px;
            border: @border3;
            mix-blend-mode: normal;
            opacity: 0.8;
            font-family: @fontPoppins;
          }
          .ant-radio-group {
            width: 100%;
            .ant-radio-wrapper {
              width: 100%;
              margin: 0;
            }
          }
          .ant-form-item {
            margin-bottom: 40px;
            .ant-form-item-label {
              width: 100%;
              text-align: left;
              color: #242424;
              font-family: @fontPoppins;
              font-weight: 500;
              font-size: 17px;
              font-weight: 500;
            }
          }
          .type-item {
            border: @border3;
            border-radius: 7px;
            padding: 10px 15px;
            .ant-radio-wrapper {
              span {
                color: #242424;
                font-family: @fontPoppins;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.11px;
                opacity: 0.8;
              }
            }
          }
          .categories {
            padding: 12px 24px;
            background: #fafafb;
            border: 1px solid #d3d3d3;
            border-radius: 10px;
            .ant-form-item {
              margin-bottom: 15px;
            }
            .ant-select {
              .ant-select-selector {
                background: @bgWhite;
                // border: none;
                border-radius: 10px;
                border: 1px solid #d3d3d3;
                // opacity: -1;
                padding: 7px 15px 6px;
                height: auto;
                .ant-select-selection-search {
                  input {
                    height: auto;
                  }
                }
                .ant-select-selection-item {
                  color: #242424;
                  font-family: @fontPoppins;
                  font-size: 15px;
                  font-weight: 400;
                }
              }
            }
          }
          .ant-upload.ant-upload-drag {
            border-radius: 10px;
            border: @border3;
            background-color: @bgFA;
            .view-song-uploaded {
              svg {
                margin-bottom: 15px;
              }
              h3 {
                color: #242424;
                font-family: @fontPoppins;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.09px;
                margin-bottom: 15px;
              }
            }
            .ant-upload-btn {
              padding: 16px;
              .ant-upload-drag-container {
                max-height: 150px;
                height: 150px;
                img {
                  height: 100%;
                  width: auto !important;
                }
                .choose-file {
                  text-align: left;
                  margin-bottom: 30px;
                  .ant-btn {
                    margin-right: 10px;
                    color: #242424;
                    font-family: @fontPoppins;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0.09px;
                    border-radius: 3px;
                    background: @bgFA;
                    border: @border3;
                  }
                }
                .ant-upload-text {
                  color: #242424;
                  font-family: @fontPoppins;
                  font-size: 13px;
                  font-weight: 500;
                  letter-spacing: 0.09px;
                  margin-bottom: 15px;
                }
              }
            }
          }
          .actions {
            text-align: center;
            margin-top: 80px;
            .ant-btn {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.571429px;
              color: #ffffff;
              height: auto;
              padding: 10px 12px;
              border: none;
              border-radius: 5px;
              margin: 0 10px;
            }
            .btn-upload {
              background: @bgBlue;
              width: 45%;
            }
            .btn-cancel {
              width: 20%;
              background: @bgBtnCancel;
            }
          }
        }
      }
    }
  }
}
