@import "../_variables.less";

.dashboard {
  .content-plan {
    margin: 24px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background-color: @bgFA;
    padding: 30px;
    h1 {
      color: #171725;
      text-align: center;
      font-family: @fontPoppins;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.1px;
      line-height: 36px;
    }
    h5 {
      color: #44444f;
      font-family: @fontPoppins;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      width: 50%;
      display: block;
      text-align: center;
      margin: 0 auto 40px;
    }
    .plans {
      width: 65%;
      display: block;
      margin: 0 auto;
      margin-bottom: 24px;
      .plan-item {
        padding: 15px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: 1px solid #d0d7dd;
        background-color: #ffffff;
        h6 {
          font-family: @fontPoppins;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          text-align: center;
          margin: 12px 0 0;
        }
        h6.basic {
          color: #4900ff;
        }
        h6.pro {
          color: #fea125;
        }
        h2 {
          color: #242424;
          font-family: @fontPoppins;
          // font-size: 60px;
          font-size: 3.7rem;
          font-weight: 500;
          text-align: center;
          margin: 0 0 10px;
          .current {
            // font-size: 30px;
            font-size: 1.9rem;
          }
          .mo {
            // font-size: 24px;
            font-size: 1.5rem;
          }
        }
        .options {
          border-top: 1px solid #d0d7dd;
          padding-top: 26px;
          .option-item {
            display: inline-flex;
            width: 100%;
            margin-bottom: 15px;
            label {
              color: #242424;
              font-family: @fontPoppins;
              font-size: 16px;
              font-weight: 400;
              line-height: 31px;
              width: calc(100% - 18px);
              padding-right: 15px;
            }
            svg {
              font-size: 18px;
              fill: #000;
              width: 18px;
            }
          }
          .disable {
            label {
              color: #d3d3d3;
            }
            svg {
              fill: #d3d3d3;
            }
          }
        }
        .actions {
          width: 100%;
          text-align: center;
          .ant-btn {
            color: #ffffff;
            font-family: @fontPoppins;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.57px;
            width: 100%;
            height: auto;
            padding: 10px 12px;
            border-radius: 5px;
            border: none;
          }
          .btn-basic {
            background-color: #4900ff;
          }
          .btn-pro {
            background-image: linear-gradient(84deg, #fe8454 0%, #feb508 100%);
          }
          .btn-current{
            background: #989898;
          }
        }
      }
    }
  }
}


@media (max-width: 1199px){
  .dashboard{
    .content-plan{
      .plans{
        width: 80%;
      }
    }
  }
}

@media (max-width: 1049px){
  .dashboard{
    .content-plan{
      .plans{
        .plan-item{
          h2{
            font-size: 3.2rem;
            .current{
              font-size: 1.5rem;
            }
            .mo{
              font-size: 1.2rem;
            }
          }
          .options{
            .option-item{
              margin-bottom: 10px;
              label{
                font-size: 14px;
              }
              svg{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px){
  .dashboard{
    .content-plan{
      h5{
        width: 70%;
      }
      .plans{
        width: 90%;
        .plan-item{
          h2{
            font-size: 3rem;
            .current{
              font-size: 1.2rem;
            }
            .mo{
              font-size: 0.9rem;
            }
          }
          .options{
            .option-item{
              margin-bottom: 10px;
              label{
                font-size: 14px;
              }
              svg{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  .dashboard{
    .content-plan{
      margin-bottom: 0;
      h5{
        width: 80%;
      }
      .plans{
        margin-bottom: 0;
        .plan-item{
          margin-bottom: 24px;
          h2{
            font-size: 2rem;
            .current{
              font-size: 1.2rem;
            }
            .mo{
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}