@import "../_variables.less";

.sider-main {
  background: @bgWhite !important;
  // width: 240px !important;
  // max-width: 240px !important;
  // min-width: 240px !important;
  background: @bgWhite;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  // padding: 16px;
  .ctn {
    padding: 16px;
  }
  .ant-layout-sider-children {
    .btn-upload {
      width: 100%;
      margin-bottom: 35px;
      .ant-btn {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1px;

        color: @colorWhite;
        background: @bgBlue;
        border-radius: 4px;

        height: auto;
        padding: 10px 15px;
      }
    }
    .sider-title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;

      color: #242424;

      mix-blend-mode: normal;
      opacity: 0.5;
      .btn-add {
        float: right;
        color: @color9D;
      }
    }
  }
  .ant-menu {
    background: @bgWhite !important;
    margin-bottom: 30px;
    .ant-menu-item {
      margin: 5px 0 !important;
      padding: 0 !important;
      height: auto;
      a {
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: @colorDark;
        padding: 12px 0;
        display: flex;
        align-items: center;
        width: 100%;

        .sider-bar-icon {
          display: inline-flex;
          margin-right: 12px;
        }
        .anticon {
          margin-right: 12px;
          font-size: 18px;
        }
        &::before{
          position: relative;
        }
        &:hover {
          color: @colorBlue;
          background: @bgWhite;
          svg {
            fill: @colorDark;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .sider-main {
  }
}
