@import "../_variables.less";

.checkout-form {
  h3.title-form {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #242424;
  }
  #card {
    background: #ffffff;
    border: 1px solid #d0d7dd;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px 15px;
    input {
      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 31px;
        /* identical to box height, or 194% */

        font-family: @fontDefault;
        color: #d0d7dd;
      }
    }
  }
  .ant-input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    background: #ffffff;
    border: 1px solid #d0d7dd;
    box-sizing: border-box;
    border-radius: 4px;
    height: auto;
    padding: 7px 15px;
    &::placeholder {
      color: #d0d7dd;
    }
  }
  .ant-select {
    width: 100% !important;
    .ant-select-selector {
      padding: 7px 12px 8px !important;
      height: auto !important;
      border-radius: 4px !important;
      .ant-select-selection-search {
        input {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 31px;
          height: 47px;
          background: #ffffff;
          &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 31px;
          }
        }
      }
      .ant-select-selection-placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 31px;
        color: #d0d7dd;
        opacity: 1;
      }
    }
  }
  .others {
    width: 100%;
    margin-bottom: 24px;
    .discount-code {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #4900ff;
    }
  }
  .btn-discount {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.571429px;

    color: #ffffff;
    background: #4900ff;
    border-radius: 5px;
    height: auto;
    padding: 10px;
  }
  .btn-cancel-discount {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.571429px;

    color: #ffffff;
    background: #df1111;
    border-radius: 5px;
    height: auto;
    padding: 10px;
  }
  .checkout-button {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.571429px;

    color: #ffffff;
    background: #4900ff;
    border-radius: 5px;
    height: auto;
    padding: 10px 24px;
  }
  .payment-method {
    width: 100%;
    margin-bottom: 24px;
    height: auto;
    padding: 8px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 31px;
    color: #a3acba;
    border: 1px solid #a3acba;
    border-radius: 4px;
  }
  .btn-active {
    color: #4900ff;
    border: 1px solid #4900ff;
  }
}
