@import "../_variables.less";

.payments-form {
  h2.tl {
    color: #242424;
    // font-size: 60px;
    font-size: 3.7rem;
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px;
    margin-bottom: 24px;
    .cur {
      // font-size: 30px;
      font-size: 1.9rem;
    }
    .mo {
      // font-size: 24px;
      font-size: 1.5rem;
    }
  }
}
