@import '../_variables.less';
@import './_profile.less';
@import './_subscription.less';
@import './_popup-invoices.less';

.settings{
  .content-page{
    margin-top: 65px;
    padding: 40px 0;
    margin-bottom: 0;
  }
}