@import "../_variables.less";

.profile {
  width: 80%;
  margin: 0 auto;
  background: #fdfeff;
  box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
  border-radius: 23px;
  padding: 60px;
  margin-bottom: 30px;
  .st-avatar {
    text-align: center;
    margin-bottom: 45px;
    img {
      width: 152px;
      height: 152px;
      display: block;
      margin: 0 auto 30px;
      border-radius: 50%;
      overflow: hidden;
    }
    .btn-upload-avatar {
      .ant-upload {
        button {
          background: #ffffff;
          border: 1px solid #d0d7dd;
          box-sizing: border-box;
          border-radius: 4px;
          height: auto;
          padding: 8px 32px;

          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 31px;
          /* identical to box height, or 194% */

          color: #686868;
        }
      }
    }
  }
  .action-up {
    text-align: center;
    margin: 24px 0 0;
    .ant-btn {
      background: #4900ff;
      border-radius: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.571429px;

      color: #ffffff;

      height: auto;
      padding: 11px 24px;
      width: 45%;
    }
  }

  .ant-form-item {
    .ant-form-item-label {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      label {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #242424;
      }
    }
    .ant-input {
      height: auto;
      padding: 7px 12px;
      background-color: @bgWhite;

      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 31px;
      color: #9d9d9d;
      border-radius: 4px;
    }
  }
}


@media (max-width: 991px){
  .profile{
    width: 100%;
    .ant-form-item {
      .ant-form-item-label {
        margin-bottom: 7px;
        label {
          font-size: 14px;
          line-height: 24px;
        }
      }
      .ant-input {
        padding: 7px 12px;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 767px){
  .profile{
    padding: 40px;
    .st-avatar{
      margin-bottom: 24px;
      img{
        width: 100px;
        height: 100px;
      }
      .btn-upload-avatar{
        .ant-upload{
          button{
            padding: 6px 24px;
            font-size: 14px;
          }
        }
      }
    }
    .ant-form-item{
      margin-bottom: 15px;
    }
    .action-up{
      .ant-btn{
        width: auto;
        font-size: 14px;
        padding: 6px 24px;
      }
    }
  }
}