@import "../_variables.less";

.subscription {
  width: 80%;
  margin: 0 auto;
  .act-cancel-sub {
    width: 100%;
    text-align: center;
    margin: 30px 0 45px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      letter-spacing: -0.2px;
      text-decoration-line: underline;

      color: #323c47;

      opacity: 0.9;
    }
  }
  .sub-content {
    background: #fdfeff;
    box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
    border-radius: 23px;
    padding: 60px;
    .sub-item {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 40px;
      margin-bottom: 40px;
      &:last-child {
        padding: 0;
        margin: 0;
        border: none;
      }
      .ctn-left {
      }
      .ctn-right {
        text-align: right;
      }
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        /* identical to box height */

        letter-spacing: -0.2px;

        color: #323c47;
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        letter-spacing: -0.2px;

        color: #323c47;

        width: 100%;
        .btn-add-method{
          float: right;
        }
      }
      .text {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: -0.2px;

        color: #323c47;

        opacity: 0.5;
        margin-bottom: 15px;
      }
      .more-action {
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: -0.2px;
          color: #236eff;
          margin-bottom: 15px;
          display: inline-block;
        }
        .act {
          color: #4900ff;
        }
      }
      .card-view {
        margin-top: 24px;
        .card-item {
          display: inline-flex;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid #ddd;
          margin-bottom: 24px;
          padding-bottom: 24px;
          &:last-child {
            border: none;
          }
          .card-info {
            display: inline-flex;
            align-items: center;
            width: 60%;
            img {
              width: 60px;
              height: 42px;
            }
            .c-card {
              margin-right: 60px;
              p {
                padding-left: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: -0.2px;

                color: #323c47;

                opacity: 0.5;
                margin-bottom: 0;
              }
            }
          }
          .paypal-info {
            img {
              width: 60px;
              height: 60px;
            }
          }
          .actions{
            width: 40%;
            text-align: right;
            a{
              font-size: 24px;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}

.popup-view-payment {
  .ant-modal {
    width: 600px !important;
    .ant-modal-content {
      .ant-modal-body {
        .card-view {
          .card-item {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: 0;
            }
            .card-info {
              display: inline-flex;
              align-items: center;
              width: calc(100% - 60px);
              img {
                width: 60px;
                height: 42px;
              }
              .c-card {
                p {
                  padding-left: 10px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 24px;
                  /* identical to box height */

                  display: flex;
                  align-items: center;
                  letter-spacing: -0.2px;

                  color: #323c47;

                  opacity: 0.5;
                  margin-bottom: 0;
                }
              }
              .actions {
                width: 60px;
              }
            }
            .paypal-info {
              img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .subscription {
    width: 100%;
    .act-cancel-sub {
      a {
        font-size: 16px;
      }
    }
    .sub-content {
      .sub-item {
        margin-bottom: 24px;
        padding-bottom: 24px;
        h2 {
          font-size: 24px;
        }
        h3 {
          font-size: 16px;
        }
        .text {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .more-action {
          a {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
