@import '../_variables.less';

.categories {
  padding: 12px 24px;
  // background: #fafafb;
  // border: 1px solid #d3d3d3;
  // border-radius: 10px;
  .ant-form-item {
    margin-bottom: 15px;
  }
  .ant-select {
    .ant-select-selector {
      background: @bgWhite;
      // border: none;
      border-radius: 10px;
      border: 1px solid #d3d3d3;
      // opacity: -1;
      padding: 7px 15px 6px;
      height: auto;
      .ant-select-selection-search {
        input {
          height: auto;
        }
      }
      .ant-select-selection-item {
        color: #242424;
        font-family: @fontPoppins;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}