@import './_variables.less';
.categories {
  .ant-form {
    label {
      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #333236;
    }
    .ant-select {
      .ant-select-selector {
        border: 1px solid #c9c9c9;
        border-radius: 4px;
        height: auto;
        padding: 6px 12px;
        .ant-select-selection-search {
          input {
            font-family: @fontPoppins;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            color: #919094;
          }
        }
        .ant-select-selection-item{
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #919094
        }
      }
    }
  }
}
