@import './_variables.less';

.filters {
  // padding: 6px 0;
  box-shadow: @boxShadowWhite;
  background: @bgWhite;
  .ant-input-search {
    width: 100% !important;
    border: none;
    padding-left: 30px;
    &:focus {
      box-shadow: none;
      border: none;
    }
    .ant-input-suffix {
      left: 0;
      top: 7px;
      right: auto;
      position: absolute;
      font-size: 18px;
    }
    input {
      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #7e7f85;
    }
  }
  .act-filter {
    text-align: right;
    width: 100%;
    .ant-btn {
      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #1a181e;
      opacity: 0.7;
      border-color: #F9F7FF;
      background: #FCFBFF;
      height: 38px;
      img{
        margin-right: 10px;
      }
    }
  }
}
