@import './_variables.less';

.header {
  // padding: 6px 0;
  border-bottom: 1px solid #d6d6d6;
  background: @bgWhite;
  .sc-desktop{
    display: inline-block;
  }
  .sc-mobile{
    display: none;
  }
  .logo {
    font-family: @fontPoppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: @bgBlue;
    align-items: center;
    display: flex;
    height: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  .navBar {
    a {
      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      padding: 7px 15px;
      color: @colorBlack;
      &:hover{
        cursor: pointer;
        color: @colorBlue;
      }
    }
  }
  .navBarRight {
    text-align: right;
    a {
      margin-left: 15px;
      font-family: @fontPoppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: @colorBlack;
      height: 38px;
      padding: 7px 24px;
      border-radius: 5px;
    }
    .btn-login{

    }
    .btn-register {
      background: @bgBlue;
      color: @colorWhite;
      border-color: @bgBlue;
    }
  }
}


@media (max-width: 767px){
  .header{
    .sc-desktop{
      display: none;
    }
    .sc-mobile{
      display: inline-flex;
      width: 100%;
      text-align: right;
      align-items: center;
      .sc-mb-ctn{
        width: 100%;
        text-align: right;
        .mb-btn{
          font-size: 18px;
          color: @colorBlack;
        }
      }
    }
  }

  .mb-navBar{
    ul.navbarMB{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin-bottom: 15px;
        a{
          color: @colorWhite;
          font-size: 16px;
          &:hover{
            cursor: pointer;
            color: @colorBlue;
          }
        }
      }
      li.line{
        width: 100%;
        height: 1px;
        border: 0.5px solid #ddd;
      }
    }
  }
}
