.home {
  .ant-layout-header {
    height: auto;
    padding: 0;
  }
  .ant-layout-content {
    margin-top: 127px;
    padding: 24px 0;
    margin-bottom: 70px;
    background: @bgMain;
    .categories {
      padding: 0 40px;
      .ant-form-item {
        .ant-form-item-label {
          width: 100%;
          text-align: left;
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #333236;
        }
        .ant-select {
          .ant-select-selector {
            background: @bgWhite;
            // border: none;
            border-radius: 10px;
            border: 1px solid #d3d3d3;
            // opacity: -1;
            padding: 7px 15px 6px;
            height: auto;
            .ant-select-selection-search {
              input {
                height: auto;
              }
            }
            .ant-select-selection-item {
              color: #242424;
              font-family: @fontPoppins;
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
        
        // .ant-select {
        //   .ant-select-selector {
        //     border: 1px solid #c9c9c9;
        //     border-radius: 4px;
        //     height: auto;
        //     padding: 6px 12px;
        //     .ant-select-selection-search {
        //       input {
        //         font-family: @fontPoppins;
        //         font-style: normal;
        //         font-weight: normal;
        //         font-size: 18px;
        //         line-height: 22px;
        //         /* identical to box height */

        //         color: #919094;
        //       }
        //     }
        //     .ant-select-selection-item {
        //       font-family: @fontPoppins;
        //       font-style: normal;
        //       font-weight: normal;
        //       font-size: 18px;
        //       line-height: 22px;
        //       color: #919094;
        //     }
        //   }
        // }
      }
    }
  }
  .ant-layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: @boxShadowTop;
    padding: 0;
    background: #fff;
  }
}
