@import './_variables.less';

.instructions{
  width: 550px;
      margin: 0 auto;
      padding: 60px;
      background: @bgWhite;
      box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
      border-radius: 23px;
      text-align: center;
      h1{
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 45px;
      }
      p{
        font-size: 16px;
        font-weight: 300;
      }
}