@import "./_variables.less";

.login {
  .ant-layout-content {
    margin: 0;
    padding: 0;
  }
  .login-content {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: inline-flex;
    .ant-form {
      width: 550px;
      margin: 0 auto;
      padding: 60px;
      background: @bgWhite;
      box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
      border-radius: 23px;
      h1 {
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;

        color: #242424;
        margin-bottom: 30px;
      }
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          .ant-input-password{
            .ant-input-suffix{
              padding-right: 15px;
            }
          }
          .ant-input-affix-wrapper {
            border: @border2;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            padding: 0 15px;
            height: auto;
          }
          .ant-input-prefix {
            span {
              display: inherit;
              svg {
                font-size: 18px;
              }
            }
          }
          .actions {
            width: 100%;
            text-align: right;
            .login-form-forgot {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 31px;
              color: #828282;
            }
          }
        }
      }
      .ant-input {
        height: auto;
        padding: 7px 12px;
        background-color: @bgWhite;

        font-family: @fontPoppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 31px;
        color: #9d9d9d;
      }
      .action-sb {
        .login-form-button {
          width: 100%;
          background: @bgBlue;
          border: none;
          border-radius: 5px;
          height: auto;
          padding: 12px 15px;

          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.571429px;
        }
        .act-register {
          text-align: center;
          width: 100%;
          margin-top: 20px;
          p {
            margin: 0;
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 31px;
            color: #9d9d9d;
            margin-right: 7px;
          }
          a {
            color: #242424;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 31px;
          }
        }
      }
    }
  }
}
