@import './_variables.less';

.other-page{
  width: 100%;
  padding: 60px !important;
  background: #f8f8f8;
  margin: 30px 0;
  border-radius: 15px;
  h1{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
  }
  .pg-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    text-align: justify;
    margin-bottom: 30px;
  }
  .sub-item{
    h3{
      font-weight: 700;
      margin-top: 45px;
    }
    p{
      padding-left: 24px;
      text-align: justify;
    }
    ul{
      li{
        margin-bottom: 24px;
        font-style: italic;
        text-align: justify;
      }
    }
    ol{
      padding-left: 60px;
      li{
        margin-bottom: 24px;
        font-style: italic;
        text-align: justify;
        padding-left: 24px;
      }
    }
    .sub-contact{
      padding: 7px 24px;
      margin-bottom: 24px;
      font-weight: 600;
      margin-left: 30px;
      padding-left: 24px;
      border-left: 8px solid #ddd;
      h4{
        font-size: 18px;
        font-weight: 700;
        color: #aaa;
      }
      p{
        font-style: italic;
        font-size: 16px;
        padding-left: 0;
        margin-bottom: 10px;
      }
    }
  }
}