@import "./_variables.less";

.payment {
  width: 100%;
  background: #f9fbfe !important;
  .ant-layout-content {
    background: none;
  }
  .payment-ctn {
    width: 70%;
    margin: 0 auto;
    .standard {
      background: #fdfeff;
      box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
      border-radius: 23px;
      padding: 24px;

      h3.title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #4900ff;
      }

      .ant-btn {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.571429px;

        color: #ffffff;
        background: #4900ff;
        border-radius: 5px;
        height: auto;
        padding:  12px;
        margin-top: 24px;
      }

      .options {
        border-top: 1px solid #d0d7dd;
        padding-top: 26px;
        margin-top: 24px;
        .option-item {
          display: inline-flex;
          width: 100%;
          margin-bottom: 15px;
          label {
            color: #242424;
            font-family: @fontPoppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;
            width: calc(100% - 18px);
            padding-right: 24px;
          }
          svg {
            font-size: 18px;
            fill: #000;
            width: 18px;
          }
        }
        .disable {
          label {
            color: #d3d3d3;
          }
          svg {
            fill: #d3d3d3;
          }
        }
      }
      .actions {
        width: 100%;
        text-align: center;
        a{
          color: #ffffff;
          font-family: @fontPoppins;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.57px;
          width: 100%;
          height: auto;
          padding: 10px 12px;
          border-radius: 5px;
          border: none;
          display: inline-block;
          text-align: center;
        }
        .btn-basic {
          background-color: #4900ff;
        }
        .btn-pro {
          background-image: linear-gradient(84deg, #fe8454 0%, #feb508 100%);
        }
      }
    }
    .payment-content {
      padding: 37px 60px;
      background: #fdfeff;
      box-shadow: 1px 2px 120px rgba(204, 204, 204, 0.32);
      border-radius: 23px;
      .ant-tabs {
        .ant-tabs-bar {
          background: #eff3f7;
          border-radius: 10px;
          padding: 6px;
          margin-bottom: 24px;
          .ant-tabs-nav-container {
            .ant-tabs-nav-wrap {
              .ant-tabs-nav-scroll {
                .ant-tabs-nav {
                  width: 100%;
                  .ant-tabs-tab {
                    padding: 10px 24px;
                    width: 50%;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 27px;
                    text-align: center;
                    color: #242424;
                    border-radius: 10px;
                    font-family: @fontPoppins;
                    margin: 0;
                  }
                  .ant-tabs-tab-active {
                    background: #4900ff;
                    color: #fff;
                  }
                  .ant-tabs-ink-bar {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
        .ant-tabs-content {
        }
      }
    }
  }
}
