@import "./_variables.less";

.playlists {
  .content-page {
    padding: 0;
    margin-top: 65px;
    margin-bottom: 0;
    background: #fff;
    padding-bottom: 80px;
    .playlists-ctn {
      .banner {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 58px;
          line-height: 87px;
          text-align: center;

          color: #000000;
        }
      }
      .subscribe {
        display: inline-flex;
        align-items: center;
        p {
          margin: 0 10px 0 0;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          /* identical to box height */

          text-align: right;

          color: #000000;
        }
        .ant-btn {
          height: auto;
          padding: 8px 30px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */

          color: #ffffff;

          background: #4900ff;
          border-radius: 5px;
        }
      }
    }
    .genres {
      .genre-item {
        position: relative;
        padding: 15px;
        .bg-genre {
          // width: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .genre-box {
          position: relative;
          z-index: 2;
          border: 2px solid none;
          display: inline-flex;
          width: 100%;
          height: 420px;
          align-items: center;
          .genre-title {
            margin: 0;
            text-align: center;
            color: @colorWhite;
            width: 100%;
            text-transform: uppercase;

            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */

            text-align: center;
            text-transform: uppercase;

            color: #ffffff;
          }
          &:hover {
            cursor: pointer;
            border: 2px solid #fff;
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            );
          }
        }
      }
    }
  }
}


@media (max-width: 991px){
  .playlists{
    .content-page{
      .playlists-ctn{
        .banner{
          h1{
            font-size: 44px;
            line-height: 70px;
          }
        }
      }
      .genres{
        .genre-item{
          .genre-box{
            height: 380px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  .playlists{
    .content-page{
      .playlists-ctn{
        .banner{
          width: 100%;
          padding: 60px 0;
          h1{
            font-size: 36px;
            line-height: 58px;
          }
          .subscribe{
            p{
              font-size: 14px;
            }
            .ant-btn{
              font-size: 14px;
              padding: 5px 15px;
            }
          }
        }
      }
      .genres{
        .genre-item{
          .genre-box{
            height: 380px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px){
  .playlists{
    .content-page{
      .playlists-ctn{
        .banner{
          width: 100%;
          padding: 60px 0;
          h1{
            font-size: 28px;
            line-height: 40px;
          }
          .subscribe{
            p{
              font-size: 14px;
            }
            .ant-btn{
              font-size: 14px;
              padding: 5px 15px;
            }
          }
        }
      }
      .genres{
        .genre-item{
          .genre-box{
            height: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 420px){
  .playlists{
    .content-page{
      .playlists-ctn{
        .banner{
          width: 100%;
          padding: 60px 0;
          h1{
            font-size: 24px;
            line-height: 40px;
          }
          .subscribe{
            display: inline-block;
            width: 100%;
            p{
              font-size: 14px;
              margin-bottom: 15px;
            }
            .ant-btn{
              font-size: 14px;
              padding: 5px 15px;
            }
          }
        }
      }
      .genres{
        .genre-item{
          .genre-box{
            height: 240px;
            .genre-title{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}