@import "./_variables.less";

.playingBar {
  width: 100%;
  background: #fff;
  padding: 0 20px 0 20px;
  .songItem {
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    .info {
      display: flex;
      align-items: center;
      width: 100%;
      .status {
        position: relative;
        overflow: hidden;
        margin-right: 15px;
        width: 56px;
        height: 56px;
        min-width: 56px;
        .bg {
          width: 56px;
          height: 56px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .btn-play {
          display: inline-flex;
          position: relative;
          width: 56px;
          height: 56px;
          z-index: 2;
          text-align: center;
          align-items: center;
          img {
            width: 32px;
            height: 32px;
            margin: 0 auto;
          }
        }
      }
      .song {
        width: calc(100% - 71px);
        h3 {
          margin: 0;
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #1a181e;
          margin-bottom: 7px;

          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          margin: 0;
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #1a181e;
          opacity: 0.65;
        }
      }
    }
    .view-chart {
    }
    .labels {
      height: 40px;
      align-items: center;
      display: flex;
      .ant-tag {
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #1a181e;
        padding: 3px 8px;
        opacity: 0.75;
        border: none;
        background: #f3f3f3;
        border-radius: 4px;
      }
    }
    .timeAt {
      height: 40px;
      align-items: center;
      display: flex;
      text-align: center;
      span {
        margin: 0 auto;
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #4900ff;
      }
    }
    .actions {
      text-align: right;
      height: 40px;
      display: flex;
      align-items: center;
      width: 100%;
      .btns {
        width: 100%;
        text-align: right;
        button {
          &:first-child {
            margin-left: 0;
          }
        }
      }
      button {
        margin-left: 10px;
        background: #eeeeee;
        opacity: 0.69;
        border: none;
      }
      .favorite {
        background: @bgFavorite;
        color: @colorFavorite;
      }
    }
    .playing-actions {
      display: inline-flex;
      width: 100%;
      height: 100%;
      .actions-song {
        width: auto;
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
        .ant-progress {
          margin: 0 10px;
          .pause_play {
            color: #000000;
            opacity: 1;
            svg {
              fill: #000000;
              opacity: 1;
              width: 14px;
            }
          }
        }
        a {
          color: #000000;
          opacity: 0.41;
          svg {
            font-size: 18px;
          }
        }
      }
      .chartSong {
        width: calc(100% - 74px);
        display: inline-flex;
        align-items: center;
        .realtime {
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          width: 44px;
          color: #4900ff;
        }
        .chart_line {
          width: calc(100% - 320px);
          display: inline-block;
          margin: 0 30px;
        }
        .loading_chart_line {
          width: calc(100% - 320px);
        }
        .totalTime {
          color: #1a181e;
        }
        .volume {
          display: inline-flex;
          align-items: center;
          margin-left: 60px;
          span {
            display: flex;
            svg {
              color: #000;
              margin-right: 10px;
              width: 18px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          .volumOff {
            padding-right: 7px;
          }
          .volumeNum {
            width: 80px;
            .ant-slider {
              width: 100%;
              margin: 0;
              .ant-slider-track {
                background: #1a181e;
              }
              .ant-slider-handle {
                border-color: #1a181e;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .playingBar {
    .songItem {
      .playing-actions {
        .chartSong {
          .volume {
            display: none;
          }
          .chart_line {
            width: calc(100% - 150px);
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .playingBar {
    .songItem {
      .playing-actions {
        text-align: right;
        align-items: center;
        .chartSong {
          display: none;
        }
        .actions-song {
          width: 100%;
          text-align: right;
          margin: 0;
          display: inline-block;
          height: 44px;
        }
      }
    }
  }
}
