@import "./_variables.less";

.populerWeek {
  .songs {
    .populerItem {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      min-height: 130px;
      .bg {
        position: absolute;
        z-index: 1;
        min-height: 130px;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .details {
        min-height: 130px;
        z-index: 2;
        position: relative;
        padding: 24px 24px 2px;
        // background: rgba(255, 212, 212, 0.39);
        // background: rgba(255, 115, 115, 0.39);
        overflow: hidden;
        border-radius: 4px;
        // background: linear-gradient(
        //   180deg,
        //   rgba(177, 3, 135, 0) 6.1%,
        //   rgba(255, 0, 193, 0.361) 100%
        // );
        &:hover{
          cursor: pointer;
        }
        .btn-play{
          display: block;
          margin-bottom: 10px;
          width: 45px;
          height: 45px;
        }
        h3 {
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;

          color: #ffffff;

          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .populerWeek {
    .songs {
      .populerItem{
        margin-bottom: 24px;
        .bg{
          min-height: 160px;
        }
        .details{
          min-height: 160px;
        }
      }
    }
  }
}

@media (max-width: 576px){
  .populerWeek {
    .songs {
      .populerItem{
        margin-bottom: 24px;
        .bg{
          min-height: 220px;
        }
        .details{
          min-height: 220px;
        }
      }
    }
  }
}
@media (max-width: 420px){
  .populerWeek {
    .songs {
      .populerItem{
        margin-bottom: 24px;
        .bg{
          min-height: 160px;
        }
        .details{
          min-height: 160px;
        }
      }
    }
  }
}