@import "./_variables.less";

.popup-login-main {
  .popup-login-ctn {
    width: 70% !important;
    .ant-modal-content {
      border-radius: 23px;
      overflow: hidden;
      .ant-modal-body {
        padding: 0;
        .login-popup-form {
          .form-left {
            background: linear-gradient(
              167.16deg,
              #4900ff 26.98%,
              #fa00ff 159.85%
            );
            display: inline-flex;
            width: 100%;
            align-items: center;
            min-height: 600px;
            .bn {
              text-align: center;
              width: 100%;
              h3 {
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 60px;
                text-transform: uppercase;
                color: #ffffff;
                margin: 0;
                margin-bottom: 8px;
              }
              p {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #ffffff;
                margin: 0;
              }
            }
          }
          .form-right {
            padding: 80px;
            h1 {
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              text-align: center;
              color: #242424;
              margin-bottom: 64px;
            }
            .ant-form {
              .ant-form-item {
                margin-bottom: 16px;
                .ant-form-item-control {
                  .ant-input-affix-wrapper {
                    border: @border2;
                    border-radius: 4px;
                    display: inline-flex;
                    align-items: center;
                    padding: 0 15px;
                    height: auto;
                    .ant-input-prefix {
                      span {
                        display: inherit;
                        svg {
                          font-size: 18px;
                        }
                      }
                    }
                    
                  }
                  .ant-input {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 31px;
                    height: auto;
                    padding: 7px 12px;
                    &::placeholder {
                      color: #9d9d9d;
                    }
                  }
                }
                .act-forgot {
                  text-align: right;
                  margin: 0;
                  .login-form-forgot {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 31px;
                    color: #828282;
                  }
                }
                .login-form-button {
                  width: 100%;
                  height: auto;
                  padding: 10px 24px;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.571429px;
                  color: #ffffff;
                  background: #4900ff;
                  border-radius: 5px;
                }
                .act-reg {
                  margin-top: 18px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 31px;
                  color: #9d9d9d;
                  text-align: center;
                  a {
                    color: #242424;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .popup-login-main {
    .popup-login-ctn {
      width: 90% !important;
      .ant-modal-content {
        .ant-modal-body {
          .login-popup-form {
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .popup-login-main {
    .popup-login-ctn {
      .ant-modal-content {
        .ant-modal-body {
          .login-popup-form {
            .form-left{
              min-height: auto;
              padding: 30px;
              .bn{
                h3{
                  font-size: 32px;
                  line-height: 48px;
                }
                p{
                  font-size: 18px;
                  line-height: 32px;
                }
              }
            }
            .form-right{
              padding: 45px 60px;
              h1{
                margin-bottom: 45px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

