@import "./_variables.less";

.support {
  .content-page {
    padding: 0;
    margin-top: 65px;
    margin-bottom: 0;
    background: #fff;
    .site-collapse-custom-collapse .site-collapse-custom-panel,
    .site-collapse-custom-collapse .site-collapse-custom-panel {
      background: #f7f7f7;
      border-radius: 2px;
      margin-bottom: 24px;
      border: 0px;
      overflow: hidden;
    }
    .support-ctn {
      padding: 80px 0;
      .sp-title {
        font-style: normal;
        font-weight: 500;
        font-size: 58px;
        line-height: 87px;
        text-align: center;
        color: #000000;
        margin-bottom: 60px;
      }
      .support-form {
        background: #fcfcfc;
        // border: 1px solid #d0d7dd;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 30px 45px;
        background: #ffffff;
        box-shadow: 0px 12px 54px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 45px;
        .ant-form-item {
          .ant-form-item-label {
            display: block !important;
            width: 100%;
            text-align: left;
            margin-bottom: 12px;
            label {
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              color: #242424;
            }
          }
          .ant-form-item-control {
            .ant-form-item-control-input {
              textarea {
                background: #fcfcfc;
                border: 1px solid #d0d7dd;
                box-sizing: border-box;
                border-radius: 4px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                &::placeholder {
                  color: #686868;
                }
              }
              .actions {
                text-align: center;
                margin-top: 24px;
                .ant-btn {
                  background: #4900ff;
                  border-radius: 5px;
                  height: auto;
                  padding: 10px 24px;
                  width: 35%;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  /* identical to box height */

                  text-align: center;
                  letter-spacing: 0.571429px;

                  color: #ffffff;
                }
              }
            }
          }
        }
      }
      .asked-questions {
        width: 60%;
        margin: 100px auto 30px;
        .asked-title {
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 46px;
          text-align: center;
          color: #0f0f0f;
          width: 100%;
          margin-bottom: 45px;
        }
        .ant-collapse {
          background: #fff;
          .ant-collapse-item {
            margin-bottom: 24px;
            background: #ffffff;
            box-shadow: 0px 12px 54px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            .ant-collapse-header {
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              color: #000000;
              padding: 22px 30px;
              .ant-collapse-extra {
                .extra-actions {
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  color: #5d7afa;
                  font-size: 24px;
                  text-align: center;
                  font-weight: bold;
                }
              }
            }
            .ant-collapse-content {
              padding: 15px 30px 22px 30px;
              .ant-collapse-content-box {
                padding: 0 !important;
                margin: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #696969;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .support {
    .content-page {
      .support-ctn {
        padding: 60px 0;
        .sp-title {
          font-size: 46px;
        }
        .asked-questions {
          width: 80%;
          .asked-title {
            font-size: 42px;
          }
          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                font-size: 18px;
                .ant-collapse-extra {
                  .extra-actions {
                    width: 30px;
                    height: 30px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .ant-collapse-content {
                .ant-collapse-content-box {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .support {
    .content-page {
      .support-ctn {
        padding: 45px 0;
        .sp-title {
          font-size: 42px;
        }
        .asked-questions {
          width: 100%;
          .asked-title {
            font-size: 36px;
          }
          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                font-size: 16px;
                .ant-collapse-extra {
                  .extra-actions {
                    width: 25px;
                    height: 25px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .ant-collapse-content {
                .ant-collapse-content-box {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .support {
    .content-page {
      .support-ctn {
        padding: 30px 0;
        .sp-title {
          font-size: 36px;
          margin-bottom: 30px;
        }
        .asked-questions {
          width: 100%;
          .asked-title {
            font-size: 24px;
          }
          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                font-size: 14px;
                line-height: 21px;
                .ant-collapse-extra {
                  .extra-actions {
                    width: 25px;
                    height: 25px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .ant-collapse-content {
                .ant-collapse-content-box {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .support-form {
          .ant-form-item {
            .ant-form-item-label {
              margin-bottom: 0;
              label {
                font-size: 14px;
              }
            }
            .ant-form-item-control {
              .ant-form-item-control-input {
                textarea {
                  font-size: 14px;
                  &::placeholder {
                    font-size: 14px;
                  }
                }
                .actions {
                  margin-top: 0;
                  .ant-btn {
                    width: auto;
                    padding: 7px 24px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .support {
    .content-page {
      .support-ctn {
        padding: 24px 0;
        .sp-title {
          font-size: 32px;
          margin-bottom: 24px;
        }
        .asked-questions {
          width: 100%;
          margin-top: 30px;
          .asked-title {
            font-size: 24px;
          }
          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                font-size: 14px;
                padding: 7px 15px;
                .ant-collapse-extra {
                  .extra-actions {
                    width: 25px;
                    height: 25px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .ant-collapse-content {
                padding: 0 15px 7px 15px;
                .ant-collapse-content-box {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .support-form {
          margin-bottom: 24px;
          padding: 15px 24px;
          .ant-form-item {
            .ant-form-item-label {
              margin-bottom: 0;
              label {
                font-size: 14px;
              }
            }
            .ant-form-item-control {
              .ant-form-item-control-input {
                textarea {
                  font-size: 14px;
                  &::placeholder {
                    font-size: 14px;
                  }
                }
                .actions {
                  margin-top: 0;
                  .ant-btn {
                    width: auto;
                    padding: 7px 24px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
