@import "./_variables.less";

.topSongs {
  margin-top: 24px;
  .songItem {
    margin-bottom: 7px;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    // border: 1px solid #fff;
    &:hover {
      // border: 1px solid @bgBlue;
      cursor: pointer;
      background: rgba(38, 78, 255, 0.81);
      .info {
        .song {
          h3,
          p {
            color: @colorWhite;
          }
        }
      }
      .timeAt {
        span {
          color: @colorWhite;
        }
      }
      .actions {
        button {
          background: @bgWhite;
          svg {
            fill: #4900ff;
          }
        }
      }
    }
    .info {
      display: flex;
      align-items: center;
      width: 100%;
      .status {
        position: relative;
        overflow: hidden;
        margin-right: 15px;
        width: 40px;
        min-width: 40px;
        height: 40px;
        .bg {
          width: 40px;
          height: 40px;
          position: absolute;
          background: #f8f8f8;
          top: 0;
          left: 0;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .btn-play {
          display: inline-flex;
          position: relative;
          width: 40px;
          height: 40px;
          z-index: 2;
          text-align: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
            margin: 0 auto;
          }
        }
      }
      .song {
        width: calc(100% - 55px);
        h3 {
          margin: 0;
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #1a181e;
          margin-bottom: 7px;

          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          margin: 0;
          font-family: @fontPoppins;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #1a181e;
          opacity: 0.65;
        }
      }
    }
    .view-chart {
    }
    .labels {
      height: 40px;
      align-items: center;
      display: flex;
      .ant-tag {
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #1a181e;
        padding: 3px 8px;
        opacity: 0.75;
        border: none;
        background: #f3f3f3;
        border-radius: 4px;
      }
    }
    .timeAt {
      height: 40px;
      align-items: center;
      display: flex;
      text-align: center;
      span {
        margin: 0 auto;
        font-family: @fontPoppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #4900ff;
      }
    }
    .actions {
      text-align: right;
      height: 40px;
      display: flex;
      align-items: center;
      width: 100%;
      .btns {
        width: 100%;
        text-align: right;
      }
      button {
        margin-left: 10px;
        background: #eeeeee;
        opacity: 0.69;
        border: none;
      }
      .favorite {
        background: @bgFavorite;
        color: @colorFavorite;
      }
    }
  }
  .active {
    background: @bgBlue;
    // border-color: @bgBlue;
    .info {
      .song {
        h3,
        p {
          color: @colorWhite;
        }
      }
    }
    .timeAt {
      span {
        color: @colorWhite;
      }
    }
    .actions {
      button {
        background: @bgWhite;
        svg {
          fill: #4900ff;
        }
      }
    }
  }
}


@media (max-width: 767px){
  .topSongs {
    .songItem {
      .info{
        .song{
          h3{
            font-size: 16px;
          }
        }
      }
      .labels{
        .ant-tag{
          &:last-child{
            display: none;
          }
        }
      }
    }
  }
}