// colors
@colorWhite: #fff;
@colorBlack: #1a181e;
@colorFavorite: #ff0088;
@colorDark: #242424;
@colorBlue: #4900ff;
@color9D: #9d9d9d;

// box shadow
@boxShadowWhite: 0px 7px 19px rgba(26, 24, 30, 0.039);
@boxShadowTop: 0px -2px 5px 0px rgba(212, 212, 212, 1);

// background
@bgBlue: #4900ff;
@bgDark: #eeeeee;
@bgMain: #f6f6f6;
@bgWhite: #fff;
@bgFavorite: rgba(255, 0, 161, 0.14);
@bgFA: #fafafb;
@bgBtnCancel: #181d3e;
@bgGradient: linear-gradient(165.81deg, #a454fe 18.15%, #546bfe 116.1%);

// borders
@border1: 1px solid #1a181e;
@border2: 1px solid #d0d7dd;
@border3: 1px solid #d3d3d3;

// fonts
@fontProxima: "Proxima Nova";
@fontPoppins: "Poppins", sans-serif;
@fontDefault: "Poppins", sans-serif;
