@import './_variables.less';
@import './_header.less';
@import './_filters.less';
@import './_home.less';
@import './_categories.less';
@import './_populer.less';
@import './_top-song.less';
@import './_playing-bar.less';
@import './_login.less';
@import './_playlists.less';
@import './_support.less';
@import './_popup-login.less';
@import './_other-page.less';
@import './_instructions-sent.less';
// dashboard
@import './dashboard/_index.less';
// common
@import './common/_categories.less';
// home
@import './home/_index.less';
// payment
@import './_payment.less';
@import './payments/_index.less';
// settings
@import './settings/_index.less';
// plans
@import './plans/_index.less';
//admin
@import './admin/_index.less';
// forgot password
@import './forgot-password/_index.less';


h1, h2, h3, h4, h5, h6, p, span, a, i, input, select, label, button {
  font-family: @fontPoppins !important;
}

.container{
  margin: 0 40px;
}
body{
  background: @bgMain !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4900FF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4900FF; 
}

.ant-select{
  &:hover{
    .ant-select-selector{
      border-color: @bgBlue !important; 
    }
  }
}
h1.title {
  font-family: @fontPoppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: #1a181e;
}
.mb170{
  margin-top: 127px;
}

.ant-spin-nested-loading>div>.ant-spin{
  max-height: 100% !important;
}

#shipToBillingAddress{
  display: none !important;
}

.db-page{
  .content-page{
    margin-top: 65px;
    padding: 0;
    margin-bottom: 0;
  }
}