@import "../_variables.less";

.banner {
  padding: 80px 0 120px;
  .ctn-left {
    padding-left: 45px;
    padding-top: 40px;
    .info {
      h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        line-height: 77px;
        color: @colorWhite;
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: @colorWhite;
        margin: 24px 0 30px;
      }
      .ant-btn {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        text-transform: uppercase;
        color: @bgBlue;
        background: #ffffff;
        border-radius: 15px;
        border: none;
        height: auto;
        padding: 15px 45px;
      }
    }
  }
  .ctn-right {
    text-align: right;
    overflow: hidden;
    .bg-page {
      width: 90%;
      float: right;
      padding: 18px;
      background: @bgWhite;
      border-radius: 25px;
      box-shadow: 7px 12px 100px rgba(70, 70, 70, 0.122733),
        inset -2px -6px 10px rgba(182, 182, 182, 0.740876);
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1099px) {
  .banner {
    padding: 60px 0 100px;
    .ctn-left {
      padding-top: 60px;
      .info {
        h1 {
          font-size: 54px;
          line-height: 70px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .banner {
    padding: 40px 0 60px;
    .ctn-left {
      padding-top: 45px;
      .info {
        h1 {
          font-size: 42px;
          line-height: 58px;
        }
        p {
          font-size: 14px;
        }
        .ant-btn {
          font-size: 16px;
          padding: 10px 35px;
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .banner {
    .ctn-left {
      .info {
        h1 {
          font-size: 36px;
          line-height: 48px;
        }
        p {
          margin: 10px 0;
        }
        .ant-btn {
          padding: 6px 20px;
          font-size: 14px;
          border-radius: 7px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 0;
    .ctn-left {
      margin: 0;
      padding: 0;
      padding-top: 30px;
      text-align: center;
      .info {
        .ant-btn {
        }
      }
    }
    .ctn-right {
      .bg-page{
        width: 90%;
      float: none;
      margin: 60px auto;
      }
      img {
        margin-left: -30px;
      }
    }
  }
}

@media (max-width: 480px) {
  .banner .ctn-left .info h1 {
    font-size: 24px;
  }
  .banner .ctn-right img {
    margin-left: -15px;
  }
}
