@import "../_variables.less";

.footer-welcome {
  padding: 0 40px;
  background: #fafbfb;
  .footer-ctn {
    padding: 80px 0;
    width: 85%;
    margin: 0 auto;
    .songs {
      .logos {
        margin-bottom: 10px;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          text-transform: uppercase;

          color: #4900ff;
        }
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        margin: 0;
        color: #aaaaaa;
      }
    }
    .products {
      padding-left: 45px;
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.5px;

        color: #242424;
        margin-bottom: 10px;
      }
      .ft-navbar {
        overflow: hidden;
        .ft-nav{
          width: 200px;
          float: left;
          padding-right: 30px;
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            display: block;
            color: #aaaaaa;
          }
        }
      }
    }
  }
}


@media (max-width: 1099px){
  .footer-welcome{
    .footer-ctn{
      padding: 60px 0;
      .products{
        .ft-navbar{
          .ft-nav{
            width: 160px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  .footer-welcome{
    .footer-ctn{
      padding: 40px 0;
      width: 100%;
      .products{
        padding-left: 0;
        .ft-navbar{
          .ft-nav{
            width: 140px;
            &:last-child{
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  .footer-welcome{
    .footer-ctn{
      padding: 24px 0;
      .songs{
        margin-bottom: 24px;
        p{
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 425px){
  .footer-welcome{
    .footer-ctn{
      .products{
        .ft-navbar{
          .ft-nav{
            width: 50%;
          }
        }
      }
    }
  }
}