@import "../_variables.less";

.header-welcome {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  .navBarWC {
    display: inline-flex;
    width: 100%;
    align-items: center;
    .logos {
      width: 70px;
      a {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: @colorWhite;
      }
    }
    .sc-desktop {
      display: inline-flex;
      align-items: center;
      width: calc(100% - 70px);
    }

    .sc-mobile {
      display: none;
    }
  }
}

.mainBarWC {
  width: calc(100% - 85px);
  padding-left: 45px;
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: @colorWhite;
    margin: 0 15px;
    &:hover {
      cursor: pointer;
      color: @colorBlue;
    }
  }
}
.actions-auth {
  display: inline-flex;
  align-items: center;
  width: 185px;
  .btn-login {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.1px;
    color: @colorWhite;
    background: none;
    border: none;
    margin-right: 10px;
  }
  .btn-register {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.1px;
    color: @colorBlue;
    background: @bgWhite;
    border-radius: 8px;
    border: none;
    height: auto;
    padding: 8px 24px;
  }
}
.view-profile{
  text-align: right;
  display: inline-block;
}

@media (max-width: 767px) {
  .header-welcome {
    padding: 7px 0;
    width: 100%;
    .navBarWC {
      .sc-desktop {
        display: none;
      }
      .sc-mobile {
        display: inline-block;
        width: calc(100% - 70px);
        text-align: right;
        a {
          font-size: 24px;
          color: @colorWhite;
        }
      }
    }
  }
  .mb-navBar {
    .ant-drawer-content-wrapper {
      height: auto !important;
      .ant-drawer-content {
        background: rgba(74, 74, 74, 0.58);
        .ant-drawer-body {
          .mainBarWC {
            width: 100%;
            margin: 0;
            padding: 0;
            a {
              display: block;
              margin: 10px 0;
            }
          }
          .actions-auth {
            border-top: 1px solid #ddd;
            width: 100%;
            padding-top: 15px;
            text-align: left;
            margin-top: 10px;
            display: inline-block;
            a {
              border: none;
              background: none;
              display: block;
              color: @colorWhite;
              padding: 0;
              margin: 0;
              width: 100%;
              text-align: left;
              height: auto;
              margin-bottom: 10px;
              &:hover {
                cursor: pointer;
                color: @colorBlue;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 840px){
  .header-welcome{
    width: 100%;
  }
}