@import "../_variables.less";
@import "./_header.less";
@import './_banner.less';
@import './_our-pricing.less';
@import './_subcription.less';
@import './_listen-now.less';
@import './_listening.less';
@import './_footer.less';
@import './_who-is-songs.less';

.landing-page {
  .top-content {
    padding: 0 40px;
    background: linear-gradient(152.1deg, #a454fe 18.15%, #546bfe 116.1%);
  }
}


@media (max-width: 767px){
  .landing-page{
    .top-content{
      padding: 0 15px;
    }
  }
}

@media (max-width: 767px){
  .landing-page{
    .top-content{
      width: 100%;
      overflow: hidden;
    }
  }
}