@import "../_variables.less";

.listening {
  padding: 80px 40px;
  display: inline-block;
  width: 100%;
  background: @bgWhite;
  .listening-ctn {
    width: 85%;
    margin: 0 auto;
    padding: 60px 45px;
    border-radius: 24px;
    background: @bgGradient;
    .info {
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 46px;
        color: @colorWhite;
        margin: 0 0 10px;
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: @colorWhite;
        margin: 0;
      }
    }
    .btn-auth {
      text-align: right;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        border-radius: 12px;
        height: auto;
        padding: 12px 40px;
      }
      .btn-res{
        color: @colorBlue;
        background: @bgWhite;
        border: 1px solid @colorBlue;
      }
      .btn-log{
        border: 1px solid @colorWhite;
        background: none;
        color: @colorWhite;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 1099px){
  .listening{
    .listening-ctn{
      .btn-auth{
        .ant-btn{
          padding: 10px 30px;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .listening{
    padding: 60px 40px;
    .listening-ctn{
      width: 90%;
      .info{
        text-align: center;
      }
      .btn-auth{
        text-align: center;
        margin-top: 24px;
        .ant-btn{
          padding: 10px 30px;
        }
      }
    }
  }
}


@media (max-width: 767px){
  .listening{
    padding: 40px;
    .listening-ctn{
      width: 100%;
      padding: 30px 24px;
      .info{
        h2{
          font-size: 26px;
          line-height: 38px;
        }
        p{
          font-size: 14px;
        }
      }
      .btn-auth{
        .ant-btn{
          padding: 6px 24px;
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 426px){
  .listening{
    padding: 30px;
    .listening-ctn{
      .info {
        h2{
          font-size: 22px;
        }
      }
      .btn-auth{
        a{
          font-size: small;
          line-height: 18px;
          border-radius: 5px;
          padding: 5px 12px;
        }
      }
    }
  }
}