@import "../_variables.less";

.listen-now {
  padding: 0 40px;
  background: @bgGradient;
  width: 100%;
  overflow: hidden;
  .listen-ctn {
    width: 50%;
    margin: 70px auto;
    text-align: center;
    h1 {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 46px;
      text-align: center;
      color: @colorWhite;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: @colorWhite;
      margin: 15px 0 60px;
    }
    a {
      border: none;
      background: @bgWhite;
      color: @colorBlue;
      border-radius: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      text-transform: uppercase;
      height: auto;
      padding: 12px 50px;
    }
  }
}


@media (max-width: 991px){
  .listen-now{
    .listen-ctn{
      width: 90%;
      h1{
        font-size: 30px;
      }
      p{
        margin-bottom: 45px;
        font-size: 14px;
      }
      .ant-btn{
        font-size: 14px;
        padding: 7px 30px;
      }
    }
  }
}

@media (max-width: 767px){
  .listen-now{
    .listen-ctn{
      width: 100%;
      margin: 45px 0;
      h1{
        font-size: 26px;
      }
      p{
        font-size: 13px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 480px){
  .listen-now{
    .listen-ctn{
      width: 100%;
      margin: 45px 0;
      h1{
        font-size: 24px;
      }
      p{
        font-size: 13px;
        margin-bottom: 24px;
      }
    }
  }
}