@import "../_variables.less";

.subcription {
  padding: 40px;
  background: @bgWhite;
  text-align: center;
  .sub-ctn {
    width: 80%;
    margin: 0 auto;
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 46px;
      text-align: center;
      color: #242424;
      margin-bottom: 45px;
    }
    .sub-item {
      margin-bottom: 24px;
      .sub-icon {
        margin-bottom: 15px;
        img {
        }
      }
      h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        letter-spacing: -0.2px;
        color: #323c47;
        margin: 10px 0;
      }
      p {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #868686;
        min-height: 90px;
      }
    }
    .support-ctn {
      padding: 60px 0;
      .sp-title {
        font-style: normal;
        font-weight: 500;
        font-size: 58px;
        line-height: 87px;
        text-align: center;
        color: #000000;
        margin-bottom: 60px;
      }
      .support-form {
        background: #fcfcfc;
        // border: 1px solid #d0d7dd;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 30px 45px;
        background: #ffffff;
        box-shadow: 0px 12px 54px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 45px;
        .ant-form-item {
          .ant-form-item-label {
            display: block !important;
            width: 100%;
            text-align: left;
            margin-bottom: 12px;
            label {
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              color: #242424;
            }
          }
          .ant-form-item-control {
            .ant-form-item-control-input {
              textarea {
                background: #fcfcfc;
                border: 1px solid #d0d7dd;
                box-sizing: border-box;
                border-radius: 4px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                &::placeholder {
                  color: #686868;
                }
              }
              .actions {
                text-align: center;
                margin-top: 24px;
                .ant-btn {
                  background: #4900ff;
                  border-radius: 5px;
                  height: auto;
                  padding: 10px 24px;
                  width: 35%;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  /* identical to box height */

                  text-align: center;
                  letter-spacing: 0.571429px;

                  color: #ffffff;
                }
              }
            }
          }
        }
      }
      .asked-questions {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        .asked-title {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 46px;
          text-align: center;
          color: #0f0f0f;
          width: 100%;
          margin-bottom: 45px;
        }
        .ant-collapse {
          background: #fff;
          .ant-collapse-item {
            margin-bottom: 24px;
            background: #ffffff;
            box-shadow: 0px 12px 54px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            .ant-collapse-header {
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              color: #000000;
              padding: 22px 30px;
              display: inline-flex;
              width: 100%;
              align-items: center;
              .question-tt{
                width: calc(100% - 50px);
              }
              .ant-collapse-extra {
                .extra-actions {
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  color: #5d7afa;
                  font-size: 24px;
                  text-align: center;
                  font-weight: bold;
                }
              }
            }
            .ant-collapse-content {
              padding: 15px 30px 22px 30px;
              .ant-collapse-content-box {
                padding: 0 !important;
                margin: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #696969;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .subcription {
    .sub-ctn {
      width: 100%;
      .sub-item {
        h1 {
          font-size: 28px;
        }
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .subcription {
    padding: 0 40px;
    .sub-ctn {
      width: 100%;
      .sub-item {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 575px){
  .subcription{
    .sub-ctn{
      .support-ctn{
        .asked-questions {
          width: 100%;
          .asked-title {
            font-size: 24px;
          }
          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                font-size: 16px;
                .question-tt{
                  width: calc(100% - 25px);
                }
                .ant-collapse-extra {
                  .extra-actions {
                    width: 25px;
                    height: 25px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
              .ant-collapse-content {
                .ant-collapse-content-box {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .subcription .sub-ctn {
    h1 {
      font-size: 26px;
    }

    .support-ctn {
      .asked-questions {
        width: 100%;
        margin-top: 30px;
        .asked-title {
          font-size: 24px;
        }
        .ant-collapse {
          .ant-collapse-item {
            .ant-collapse-header {
              font-size: 14px;
              line-height: 21px;
              padding: 7px 15px;
              .question-tt{
                width: calc(100% - 25px);
              }
              .ant-collapse-extra {
                .extra-actions {
                  width: 25px;
                  height: 25px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
            .ant-collapse-content {
              padding: 0 15px 7px 15px;
              .ant-collapse-content-box {
                font-size: 13px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}
