@import "../_variables.less";

.who-is-songs {
  width: 100%;
  margin: 60px 0 30px;
  h1.title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 171%;
    color: #000000;
    margin-bottom: 80px;
  }
  .box-item {
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 171%;
      color: #001e7b;
      margin: 10px 0 8px;
    }
    .img-title {
      width: 30%;
    }
    p {
      font-family: Roboto !important;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 151.9%;
      text-align: center;
      color: #000000;
    }
  }
}

@media (max-width: 991px) {
  .who-is-songs {
    h1.title {
      font-size: 23px;
      margin-bottom: 45px;
    }
    .box-item {
      margin-bottom: 30px;
      h3 {
        font-size: 18px;
      }
      .img-title {
        width: 100px;
      }
      p {
      }
    }
  }
}

@media (max-width: 767px) {
  .who-is-songs {
    h1.title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .box-item {
      h3 {
        font-size: 16px;
      }
      .img-title {
        width: 80px;
      }
      p {
      }
    }
  }
}
